[Unit]
Description=synergy2
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/bin/synergyc -1 --no-daemon -d WARNING -n deiwin-arch2 deiwin-desktop:24802
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
