[Unit]
Description=synergy4
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/bin/synergyc -1 --no-daemon -d WARNING -n deiwin-arch4 deiwin-desktop:24804
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
